<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin-menu</title>
    <link rel="stylesheet" href="../../static/common/css/admin-menu.css">
</head>
<body>
<ul>
    <li>
        <a class="active" href="#">관리자 메뉴</a>
    <li class="li-menu">
        <a href="#" class="customer-info">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/group.png"
                 alt="관리자 메뉴">
            고객정보 관리</a>
    </li>
    <li class="li-menu">
        <a href="#" class="tag-manage">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/price-tag.png"
                 alt="태그 메뉴">
            태그 관리</a></li>
    <li class="li-menu">
        <a href="#" class="product-inquiry">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/product-qa.png"
            alt="상품 문의">상품 문의 관리</a></li>
    <li class="li-menu">
        <a href="#" class="product-stock">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/boxes.png"
            alt="상품 재고">
        상품 재고 관리</a></li>
    <li class="li-menu">
        <a href="#" class="product-order">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/order.png"
            alt="주문 관리">
            상품 주문 관리</a></li>
    <li class="li-menu">
        <a href="#" class="sales-manage">
        <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/economy.png"
        alt="매출 현황">
        매출 현황</a></li>
    <li class="li-menu">
        <a href="#" class="coupon-manage">
        <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/voucher.png"
        alt="쿠폰 관리">
        쿠폰 관리</a></li>
    <li class="li-menu">
        <a href="#" class="product-review">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/qa.png"
            alt="상품평 관리">
            상품평 관리</a></li>
    <li class="li-menu">
        <a href="#" class="grade-manage">
        <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/vip.png"
        alt="등급 관리">
        등급 관리</a></li>
    <li class="li-menu">
        <a href="#" class="contact-manage">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/comment.png"
            alt="연락 관리">
            연락 관리</a></li>
    <li class="li-menu">
        <a href="#" class="repair-manage">
            <img src="https://api-storage.cloud.toast.com/v1/AUTH_8a2dd42738a0427180466a56561b5eef/gaship_storage/static/repair.png"
            alt="수리기사 관리">
            수리 설치기사 관리</a>
    </li>
</ul>
</body>
</html>