<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">
<head>
  <meta charset="UTF-8">
  <title>쿠폰 타입 리스트</title>

</head>
<th:block layout:fragment="content">

  <button th:onclick="|location.href='@{/admin/coupons/coupon-type}'|">
    <a th:href="@{/admin/coupons/coupon-type}">쿠폰 타입</a></button>
  <button th:onclick="|location.href='@{/admin/coupons/coupon-type/delete-can}'|">삭제 가능한 쿠폰 타입</button>
  <button th:onclick="|location.href='@{/admin/coupons/coupon-type/delete-cannot}'|">삭제 불가능한 쿠폰 타입</button>
  <button th:onclick="|location.href='@{/admin/coupons/coupon-type/fixed-amount}'|">정액 할인 쿠폰 타입</button>
  <button th:onclick="|location.href='@{/admin/coupons/coupon-type/fixed-rate}'|">정률 할인 쿠폰 타입</button>

  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="dataTables_length" id="dataTable_length">
              <label><a th:href="@{/admin/coupons/coupon-type}">쿠폰 타입</a></button></label></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                   aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
              <tr role="row">
                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="이름" style="width: 397px;">
                  이름
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="할인률" style="width: 584px;">할인률
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="할인금액" style="width: 297px;">할인금액
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="삭제" style="width: 159px;">삭제
                </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="couponType : ${couponTypeList}">
                <td th:text="${couponType.name}"></td>
                <td th:text="${couponType.discountRate}"></td>
                <td th:text="${couponType.discountAmount}"></td>
                <td>
                  <form th:action="@{/admin/coupons/coupon-type/${couponType.couponTypeNo}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button th:disabled="${couponType.isStopGenerationIssue}" type="submit">삭제</button>
                  </form>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57
              entries
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#"
                                                                                                   aria-controls="dataTable"
                                                                                                   data-dt-idx="0"
                                                                                                   tabindex="0"
                                                                                                   class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1"
                                                                tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2"
                                                          tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3"
                                                          tabindex="0" class="page-link">3</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4"
                                                          tabindex="0" class="page-link">4</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5"
                                                          tabindex="0" class="page-link">5</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6"
                                                          tabindex="0" class="page-link">6</a></li>
                <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable"
                                                                                  data-dt-idx="7" tabindex="0"
                                                                                  class="page-link">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <table>
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

  </table>
  <button th:onclick="|location.href='@{/admin/coupons/coupon-type/fixed-amount/add}'|">정액 쿠폰 타입 등록</button>
  <button th:onclick="|location.href='@{/admin/coupons/coupon-type/fixed-rate/add}'|">정률 쿠폰 타입 등록</button>
</th:block>
</html>
