<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/shopping/layout}">
<head>
    <meta charset="UTF-8">
    <title>멤버의 쿠폰 생성 발급 리스트</title>

</head>
<th:block layout:fragment="content-js">
    <script src="/member/js/userDetailMenu.js"></script>
</th:block>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row flex-md-nowrap">
                <div class="w-25">
                    <th:block th:include="component/userDetailMenu"></th:block>
                </div>
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-outline-info"><a
                            th:href="@{/member/coupons/coupon-generation-issues/member}">전체
                        쿠폰</a></button>
                    <button class="btn btn-outline-info"><a
                            th:href="@{/member/coupons/coupon-generation-issues/member/used-coupons}">사용한 쿠폰</a>
                    </button>
                    <button class="btn btn-outline-warning"><a
                            th:href="@{/member/coupons/coupon-generation-issues/member/unused-coupons}">사용 하지 않은 쿠폰</a>
                    </button>
                    <button class="btn btn-outline-danger"><a
                            th:href="@{/member/coupons/coupon-generation-issues/member/unused-coupons/expired-coupons}">기간
                        만료된
                        쿠폰</a>
                    </button>
                    <button class="btn btn-outline-info"><a
                            th:href="@{/member/coupons/coupon-generation-issues/member/unused-coupons/unexpired-coupons}">유효한
                        쿠폰</a>
                    </button>
                </div>

                <div class="card-body table-responsive p-0" style="height: 300px">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr role="row">
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
                                    rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="이름">
                                    이름
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1"
                                    aria-label="만료기간">만료기간
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="couponGenerationIssue : ${couponGenerationIssueList}">
                                <td th:text="${couponGenerationIssue.name}"></td>
                                <td th:text="${couponGenerationIssue.expirationDatetime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <th:block th:if="${!#lists.isEmpty(couponGenerationIssueList)}">
                <th:block th:include="component/pageFooter"></th:block>
            </th:block>
        </div>
    </div>
</th:block>
</html>
