<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">
<div layout:fragment="content">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/review/css/reviewList.css">
  <script th:inline="javascript">
    /*<![CDATA[*/ /*]]>*/
    var message = /*[[${message}]]*/
    if (message) {
      alert(message)
    }
    /*]]>*/
  </script>
  <div class="container">
    <div class="row">
      <p class="display-4">상품평관리</p>
      <div class="col-md-8" th:each="review : ${reviews.content}">
        <div class="media g-mb-30 media-comment">
          <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
            <img class="img-thumbnail" th:unless="${#lists.isEmpty(review.filePaths)}" th:src="${review.filePaths.get(0)}"/>

            <div class="g-mb-15">
              <h5 class="h5 g-color-gray-dark-v1 mb-0" th:text="${review.title}"></h5>
              <span class="g-color-gray-dark-v4 g-font-size-12" th:text="${review.writerNickname}"></span>
              <span class="g-color-gray-dark-v4 g-font-size-12" th:text="${review.registerDateTime}"></span>
            </div>

            <p th:text="${review.content}"></p>

            <ul class="list-inline d-sm-flex my-0">
              <li class="list-inline-item g-mr-20">
                <i class="fa fa-star g-pos-rel g-top-1 g-mr-3"></i>
                <span th:text="${review.starScore}"></span>
              </li>
              <li class="list-inline-item g-mr-20">
                <i class="fa fa-tag g-pos-rel g-top-1 g-mr-3"></i>
                <span th:text="${review.productName}"></span>
              </li>
              <li class="list-inline-item ml-auto">
                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" th:href="@{|/reviews/${review.orderProductNo}/remove|}">
                  삭제
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="pagination">
      <li class="page-item" th:if="${reviews.previous}"><a class="page-link" th:href="@{''(page=${reviews.number - 1})}">Previous</a></li>
      <span class="page-number" th:text="|${reviews.number + 1} / ${reviews.totalPages}|"></span>
      <li class="page-item" th:if="${reviews.next}"><a class="page-link" th:href="@{''(page=${reviews.number + 1})}">Next</a></li>
    </ul>
  </div>
</div>
</html>