<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar-fragment">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Gaship 관리자</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/manager">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>관리자 페이지 홈</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/gaship.shop">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>쇼핑몰 메인으로</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-fw fa-cog"></i>
                <span>사용자관리</span>

            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!--                    href에 컨트롤러 매핑 url 넣고 개발하시면 됩니다.현재는 상품관리 빼고 이상한 url이 매핑되어있습니다-->
                    <!--                    컨트롤러의 반환 값에는 각자 layout의 경로를 적으시면 됩니다.-->
                    <a class="collapse-item" href="/admin/members">사용자 목록</a>
                    <a class="collapse-item" href="/admin/member-grades">등급 관리</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>쇼핑</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
<!--                    href에 컨트롤러 매핑 url 넣고 개발하시면 됩니다.현재는 상품관리 빼고 이상한 url이 매핑되어있습니다-->
<!--                    컨트롤러의 반환 값에는 각자 layout의 경로를 적으시면 됩니다.-->
                    <a class="collapse-item" href="/admin/products">상품관리</a>
                    <a class="collapse-item" href="/admin/order">주문관리</a>
                    <a class="collapse-item" href="/order/cancle">취소관리</a>
                    <a class="collapse-item" href="/order/reorder">반품관리</a>
                    <a class="collapse-item" href="/order/exxchange">교환관리</a>
                    <a class="collapse-item" href="/admin/reviews">구매평관리</a>
                    <a class="collapse-item" href="/admin/coupons/coupon-type">쿠폰</a>
                    <a class="collapse-item" href="/ship">배송관리</a>
                    <a class="collapse-item" href="/admin/categories">카테고리 관리</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <i class="fas fa-fw fa-cog"></i>
                <span>문의관리</span>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!--                    href에 컨트롤러 매핑 url 넣고 개발하시면 됩니다.현재는 상품관리 빼고 이상한 url이 매핑되어있습니다-->
                    <!--                    컨트롤러의 반환 값에는 각자 layout의 경로를 적으시면 됩니다.-->
                    <a class="collapse-item" href="/inquiry">상품문의관리</a>
                    <a class="collapse-item" href="/admin/order">고객문의관리</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <i class="fas fa-fw fa-cog"></i>
                <span>매출</span>
            </a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!--                    href에 컨트롤러 매핑 url 넣고 개발하시면 됩니다.현재는 상품관리 빼고 이상한 url이 매핑되어있습니다-->
                    <!--                    컨트롤러의 반환 값에는 각자 layout의 경로를 적으시면 됩니다.-->
                    <a class="collapse-item" href="/admin/total-sale">매출</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                <i class="fas fa-fw fa-cog"></i>
                <span>서비스관리</span>
            </a>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionSidebar" style="">
                <div class="bg-white py-2 collapse-inner rounded">
                    <!--                    href에 컨트롤러 매핑 url 넣고 개발하시면 됩니다.현재는 상품관리 빼고 이상한 url이 매핑되어있습니다-->
                    <!--                    컨트롤러의 반환 값에는 각자 layout의 경로를 적으시면 됩니다.-->
                    <a class="collapse-item" href="/inquiry">태그관리</a>
                    <a class="collapse-item" href="/admin/address-local">배달제한지역관리</a>
                    <a class="collapse-item" href="/dayLabor">배달인원관리</a>
                    <a class="collapse-item" href="/employee">직원관리</a>
                </div>
            </div>
        </li>
    </ul>
</th:block>>
</html>
