<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/addresslocal/css/addressLocal.css}">
    <meta charset="UTF-8">
    <title>주소 관리</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
</head>


<th:block layout:fragment="content">
    <h3 class="limit-h3">제한 지역 관리</h3>
    <div class="wrapper">
        <div class="btn-group-list">
            <div class="btn-group" th:each="address : ${addressList}">
                <input type="button" class="btn-local-level-1,col" th:classappend="'local-'+${address.addressNo}"
                       th:value="${address.addressName}"/>
            </div>
        </div>
        <div>
            <div id="sub-address"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content-js">
    <script th:src="@{/addresslocal/js/addressLocal.js}"></script>
</th:block>
</html>