<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<sec:th:block th:fragment="header-fragment">
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="/img/logo.svg" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">쇼핑몰 홈</a></li>
                <li><a href="/products?page=0">상품 전체</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap">
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li>https://github.com/Gaship</li>
                <li>전 상품 무료배송!</li>
            </ul>
        </div>
    </div>


    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/" class="active">쇼핑몰 홈</a></li>
                            <li><a href="/products?page=0">상품전체</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__cart col-lg-4 ">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a th:href="@{/carts}"><i class="fa fa-shopping-bag"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <div>한국어</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">한국어</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth w-50">
                            <th:block sec:authorize="hasRole('ROLE_ANONYMOUS')"><a href="/login"><i class="fa fa-user"></i> 로그인</a></th:block>
                            <div class="row justify-content-around">
                            <th:block sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_MANAGER', 'ROLE_MEMBER')">
                                <a th:href="@{'/members/' + ${#authentication.getPrincipal().getMemberNo()}}"><i class="fa fa-user"></i>마이페이지</a>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_MANAGER', 'ROLE_MEMBER')">
                                <a th:href="@{/logout}">로그아웃</a>
                            </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
</sec:th:block>
</html>
