<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/shopping/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block layout:fragment="content">
    <div class="container">
        <div class="w-full order-md-1">
            <h4 class="mb-3">비밀번호 재발급</h4>
            <form class="needs-validation" th:action="@{/members/forgot-password}" method="post">
                <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com">
                    <div class="invalid-feedback">
                        회원가입하였던 이메일을 확인해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="name">실명</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="홍길동">
                    <div class="invalid-feedback">
                        실명을 확인해주세요.
                    </div>
                </div>
                <div class="row justify-content-end mr-3">
                    <input class="site-btn" type="submit" value="비밀번호 재발급">
                </div>
            </form>
        </div>
        </form>
    </div>
</th:block>

</html>
