<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/fragments/css/sb-admin-2.css}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Gaship 회원가입</h1>
                        </div>
                        <form class="user" method="post" th:action="@{/members/create}">
                            <div class="form-group row justify-content-end">
                                <input type="email" name="email" class="w-100 form-control form-control-user sign-up-email" placeholder="이메일">
                                <input type="button" class="w-25 mt-2 btn btn-primary btn-user btn-block email-verify" value="이메일 인증">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="nickName" class="w-100 form-control form-control-user target-nickname" placeholder="닉네임">
                                <input type="button" class="w-25 mt-2 btn btn-primary btn-user btn-block check-duplication" value="닉네임 중복확인">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="password" name="password" class="w-100 form-control form-control-user" placeholder="비밀번호"  aria-describedby="passwordHelpInline">
                                <small id="passwordHelpInline" class="text-muted">
                                    영문, 숫자, 특수문자 조합으로 8자리 이상이어야합니다.
                                </small>
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" class="w-100 form-control form-control-user recommend-nickname" placeholder="추천인 (닉네임으로 입력하세요.)">
                                <input type="button" class="w-25 mt-2 btn btn-primary btn-user btn-block recommend-btn" value="추천인 조회">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="name" class="w-100 form-control form-control-user" placeholder="이름" aria-describedby="nameHelpInline">
                                <small id="nameHelpInline" class="text-muted">
                                    한글로만 입력해주세요.
                                </small>
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="phoneNumber" class="w-100 form-control form-control-user" placeholder="전화번호" aria-describedby="phoneHelpInline">
                                <small id="phoneHelpInline" class="text-muted">
                                    '-'없이 입력해주세요.
                                </small>
                            </div>
                            <div class="form-group row justify-content-end">
                                <label class="w-100 form-label">출생년도
                                    <div>
                                        <input type="date" id="start" class="form-group" name="birthDate">
                                    </div>
                                </label>
                            </div>
                            <div class="form-group row justify-content-start">
                                <div class="w-100"><span class="form-label">성별</span></div>
                                <div class="mr-3">
                                    <input type="radio" id="man" name="gender" value="huey">
                                    <label for="man">남</label>
                                </div>

                                <div>
                                    <input type="radio" id="woman" name="gender" value="dewey">
                                    <label for="woman">여</label>
                                </div>
<!--                                <input type="text" name="gender" class="w-100 form-control form-control-user" placeholder="성별">-->
                            </div>
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="회원가입">
                            <hr>
                            <a href="index.html" class="btn btn-naver btn-user btn-block">
                                네이버로 회원가입하기
                            </a>
                            <a href="index.html" class="btn btn-kakao text-dark btn-user btn-block">
                                카카오로 회원가입하기
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/signUp/js/signUp.js}"></script>
</body>
</html>
