<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/fragments/css/sb-admin-2.css}">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Gaship 회원가입</h1>
                        </div>
                        <form class="user" method="post" th:action="@{/members/create}">
                            <div class="form-group row justify-content-end">
                                <input type="email" name="email" class="w-100 form-control form-control-user" placeholder="이메일">
                                <input type="button" class="w-25 mt-2 btn btn-primary btn-user btn-block" value="이메일 인증">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="nickName" class="w-100 form-control form-control-user" placeholder="닉네임">
                                <input type="button" class="w-25 mt-2 btn btn-primary btn-user btn-block" value="닉네임 중복확인">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="password" name="password" class="w-100 form-control form-control-user" placeholder="비밀번호">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="recommendMemberNo" class="w-100 form-control form-control-user" placeholder="추천인 (닉네임으로 입력하세요.)">
                                <input type="button" class="w-25 mt-2 btn btn-primary btn-user btn-block" value="추천인 조회">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="name" class="w-100 form-control form-control-user" placeholder="이름">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="phoneNumber" class="w-100 form-control form-control-user" placeholder="전화번호">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="birthDate" class="w-100 form-control form-control-user" placeholder="출생년도">
                            </div>
                            <div class="form-group row justify-content-end">
                                <input type="text" name="gender" class="w-100 form-control form-control-user" placeholder="성별">
                            </div>
                            <input type="hidden" name="isVerifiedEmail" class="btn btn-primary btn-user btn-block" value="true">
                            <input type="hidden" name="isUniqueEmail" class="btn btn-primary btn-user btn-block" value="true">
                            <input type="submit" class="btn btn-primary btn-user btn-block" value="회원가입">

                            <hr>
                            <a href="index.html" class="btn btn-naver btn-user btn-block">
                                네이버로 회원가입하기
                            </a>
                            <a href="index.html" class="btn btn-kakao text-dark btn-user btn-block">
                                카카오로 회원가입하기
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
