<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="w-100 mx-auto my-0 row justify-content-around">
    <th:block>
        <a class="row justify-content-center text-white" th:href="@{ ${uri} + '?page=' + ${previousPageNo}+ ${#strings.isEmpty(size) ? '' : '&size=' + size} + ${#strings.isEmpty(queryParam) ? '' : queryParam}}">
            <button th:disabled="${!previous}" class="site-btn rounded-sm">
                이전
            </button>
        </a>
        <div class="w-50 row justify-content-center">
            <h3 th:text="${pageNum}"></h3>
            <h3> / </h3>
            <h3 th:text="${totalPage}"></h3>
        </div>
        <a class="row justify-content-center text-white" th:href="@{ ${uri} + '?page=' + ${nextPageNo} + ${#strings.isEmpty(size) ? '' : '&size=' + size} +  ${#strings.isEmpty(queryParam) ? '' : queryParam}}">
            <button th:disabled="${!next}" class="site-btn rounded-sm flex-wrap">
                다음
            </button>
        </a>
    </th:block>
</div>
</html>
