<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="sidebar">
    <div class="sidebar__item">
        <h4 class="current-location"></h4>
        <ul>
            <li class="link-info"><a th:href="${'/members/details'}">회원정보</a></li>
            <li class="link-order"><a th:href="${'/member/order-product'}">주문내역</a></li>
            <li class="link-address"><a th:href="${'/members/' + memberNo + '/addresses'}">배송지관리</a></li>
            <li class="link-tag"><a th:href="${'/member-tag'}">태그관리</a></li>
            <li class="link-review"><a th:href="${'/members/reviews'}">내 상품평</a></li>
            <li class="link-customer-inquiry"><a th:href="${'/inquiries/member-self/customer-inquiries'}">고객문의</a></li>
            <li class="link-product-inquiry"><a th:href="${'/inquiries/member-self/product-inquiries'}">상품문의</a></li>
            <li class="link-exit"><a th:href="${'/members/exit'}">회원탈퇴</a></li>
        </ul>
    </div>
</div>
</html>
