<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>회원 등급 관리</title>
    <script th:src="@{/membergrade/js/membergrade.js}"></script>
</head>
<body>
    <h1>회원 등급 관리</h1>
    <fieldset>
        <legend>갱신 기간 관리</legend>
    </fieldset>
    <fieldset>
        <legend>새로운 회원등급 등록</legend>
        <form method="post" th:action="@{'/member-grades'}">
            <input type="text" name="name" placeholder="회원등급명을 입력하세요."/>
            <input type="text" name="accumulateAmount" placeholder="갱신기준 누적구매금액을 입력하세요."/>
            <input type="checkbox" name="isDefault" th:value="${true}"> 기본 회원 등급 지정
            <input type="submit" value="등록하기"/>
        </form>
    </fieldset>
    <table style="border: solid black">
        <thead>
        <tr>
            <th style="border: solid black">회원등급명</th>
            <th style="border: solid black">갱신기준 누적구매금액</th>
            <th style="border: solid black">수정</th>
            <th style="border: solid black">삭제</th>
        </tr>
        </thead>
        <tbody id="memberGradeTBody">
        </tbody>
    </table>
</body>
</html>