<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">
<head>
    <title>직원등록 페이지</title>
    <style>
        .form-style {
            margin-left: 30px;
            margin-right: 30px;
        }
    </style>
</head>
<th:block layout:fragment="content">

    <h1 class="h3 mb-2 text-gray-800">직원 등록</h1>
    <form class="form-style" th:action="@{/admin/employees}" method="post">
        <div class="form-row ">
            <div class="form-group col-md-6">
                <label for="inputEmail4">이메일(아이디)</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">비밀번호</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputName">이름</label>
            <input type="text" class="form-control" id="inputName" placeholder="이름을 입력.." name="name">
        </div>
        <div class="form-group">
            <label for="inputAddress">주소</label>
            <button type="button" class="btn-primary form-control" id="inputAddress" name="address"
                    data-target="#address-modal" data-toggle="modal">
            </button>
            <input type="hidden" class="form-control address-no" id="inputAddressNo" name="addressNo">
        </div>
        <div class="form-group">
            <label for="phone">휴대전화 (입력시 - 를 빼주세요)</label>
            <input class="form-control" type="tel" id="phone" name="phoneNo">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/admin/employees'">
            돌아가기
        </button>
        <div class="modal fade" id="address-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header float-right">
                        <h5>주소 지역</h5>
                        <div class="text-right">
                            <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">주소 번호</th>
                                    <th scope="col">주소 명</th>
                                    <th scope="col">선 택</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="address:${addressList}">'
                                    <td th:text="${address.addressNo}"></td>
                                    <td th:text="${address.addressName}"></td>
                                    <td>
                                        <button class="btn-address btn-primary"
                                                data-value=""
                                                data-content=""
                                                th:attr="data-value=${address.addressNo},data-content=${address.addressName}"
                                                th:classappend="'address-'+${address.addressNo}" data-dismiss="modal">선택
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</th:block>
<th:block layout:fragment="content-js">
    <script>
        const addressClick = async (e) => {
            const addressName = document.getElementById('inputAddress');
            const addressNo = document.getElementById('inputAddressNo');

            addressName.innerText = e.target.getAttribute('data-content');
            addressNo.value = e.target.getAttribute('data-value');
        }

        for (let i = 0; i < 17; i++) {
            document.querySelector(`.address-${i + 1}`).addEventListener("click", addressClick);
        }
    </script>
    <script th:src="@{/index/index.js}"></script>
</th:block>

</html>
