<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>직원 관리</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <style>
        .btn-register{
            margin: auto;
        }
    </style>
</head>


<th:block layout:fragment="content">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">직원 관리</h1>

        <div>
            <button type="button" class="btn btn-primary btn-register " onclick="location.href='/admin/employees/add'">
                등록하기
            </button>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">직원 목록</h6>
            </div>
            <div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr role="row">
                        <td>#</td>
                        <td>직원 번호</td>
                        <td>직원 이름</td>
                        <td>전화 번호</td>
                        <td>담당 지역</td>
                        <td>이메일</td>
                        <td>수정 삭제</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr role="row" th:each="employee,stat:${employees}">
                        <td th:text="${stat.count}"></td>
                        <td th:text="${employee.employeeNo}"></td>
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.phoneNo}"></td>
                        <td th:text="${employee.address}"></td>
                        <td th:text="${employee.email}"></td>
                        <td>
                            <button class="btn btn-outline-primary"
                                    th:onclick="|location.href='@{/admin/employees/modify}/${employee.employeeNo}'|">수정</button>
                            <button class="btn btn-outline-secondary deleteButton"
                                    th:data-employee-no="${employee.employeeNo}">
                                삭제
                            </button>
<!--                            <form action="#" th:action="@{/admin/employees/{employeeNo}(employeeNo=${employee.employeeNo})}" th:method="delete" >-->
<!--                                <button type="submit" class="btn btn-outline-primary">-->
<!--                                    삭제-->
<!--                                </button>-->
<!--                            </form>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="content-js">
    <script>
        const token = document.getElementById('_csrf').getAttribute('content');

        const deleteEmployee = async (e) =>{

            const employeeNo = e.target.getAttribute("data-employee-no");
            const response = await fetch(`/api/employees/`+ employeeNo,
                {
                    method : 'DELETE',
                    headers: {
                        'X-CSRF-TOKEN': token
                    }
                }).then(()=> window.location.reload());
        }

        document.querySelectorAll('.deleteButton')
            .forEach(element => element.addEventListener('click',deleteEmployee))
    </script>
</th:block>

</html>