<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>고객문의 목록</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <th:block th:replace="layout/fragments/admin/bootstrap :: bootstrap-fragment"></th:block>
    <script th:src="@{/inquiry/js/inquirylistpage.js}"></script>
    <script th:inline="javascript">
        const memberNo = [[${memberNo}]];
        let whereUri = "customer";
    </script>
</head>
<body>
<div>
    <h1 style="color: black; font-weight: bolder; margin-bottom: 30px">고객문의 목록</h1>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: auto">번호</th>
                <th style="width: auto">제목</th>
                <th style="width: auto">답변상태</th>
                <th style="width: auto">닉네임</th>
                <th style="width: auto">등록시간</th>
                <th style="width: auto"></th>
            </tr>
            </thead>
            <tbody id = "inquiryListTBody">
            </tbody>
        </table>
    </div>

    <a href="/inquiries/show-form/customer-inquiry-add" style="width: auto; margin-left: 5px" type="button" class="btn btn-outline-primary">등록</a>
    <a href="/customer-center" style="width: auto; margin-left: 10px" type="button" class="btn btn-outline-primary">고객센터</a>
</div>
</body>
</html>