<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout/fragments/admin/bootstrap :: bootstrap-fragment"></th:block>
</head>
<body>
<div>
    <h1 style="color: black; font-weight: bolder; margin-bottom: 30px">상품문의 목록</h1>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: auto">번호</th>
                <th style="width: auto">제목</th>
                <th style="width: auto">답변상태</th>
                <th style="width: auto">닉네임</th>
                <th style="width: auto">등록시간</th>
                <th style="width: auto">수정</th>
                <th style="width: auto">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "item : ${pageResponse.content}">
                <td th:text="${item.inquiryNo}"></td>
                <td th:text="${item.memberNickname}"></td>
                <td th:text="${item.processStatus}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.registerDatetime}"></td>
                <td>
                    <button style="width: auto" name="updateBtn" value="${item.no}" class="btn btn-outline-primary">수정</button>
                </td>
                <td>
                    <button style="width: auto" name="deleteBtn" value="${item.no}" class="btn btn-outline-primary">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>