<!DOCTYPE html>
<html lang="en">
<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>reviewAddForm</title>
    <link rel="stylesheet" type="text/css" href="/review/css/reviewForm.css">
</head>
<body>
<div id="form-main">
    <div id="form-div">
        <span>상품문의 등록</span>
        <form class="form" method="post" th:action="@{/inquiries/product-inquiry}">
            <p class="title">
                <input readonly type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" th:value="${'[' + productName + '] 상품'}"/>
                <input name="productNo" type="hidden" th:value="${productNo}"/>
            </p>
            <p class="title">
                <input name="title" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Title" id="title" />
            </p>
            <p class="content">
                <textarea name="inquiryContent" class="validate[required,length[6,300]] feedback-input" id="content" placeholder="Content"></textarea>
            </p>
            <div class="submit">
                <input type="submit" value="REGISTER" id="button-blue"/>
                <div class="ease"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>