<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/shopping/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 내역 리스트</title>
</head>
<th:block layout:fragment="content">

    <div class="container">
        <div class="row flex-md-nowrap">
            <div class="w-25">
                <th:block th:include="component/userDetailMenu"></th:block>
            </div>
            <div role="main" class="container h5">
                <p class="display-4 mb-2 text-dark">주문 상세 내역</p>
                <!-- Page Heading -->
                <div class="card mb-3" th:each="order : ${orderProductDetail}">
                    <div class="card-header" th:text="${order.orderNo} + ' - ' + ${order.orderProductNo}"></div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__pic">
                                        <div class="product__details__pic__item">
                                            <img class="product__details__pic__item--large"
                                                 th:src="${order.filePath}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="product__details__text">
                                        <h3 th:text="${order.productName}"></h3>
                                        <div class="product__details__price"
                                             th:text="${'₩' + order.totalOrderAmount}"></div>
                                        <a style="font-size: 12px" class="w-auto p-1 btn btn-sm btn-primary btn-lg mb-2" th:href="@{|/reviews/${order.orderProductNo}/add|}" th:unless="${order.existsReview}">
                                            상품평 작성
                                        </a>
                                        <p style="font-size: 10px" th:if="${order.existsReview}" class="mb-1">상품평 작성완료</p>
                                        <ul class="m-0 pt-2">
                                            <li><span class="mr-2 font-weight-bold">주문번호</span> <span><samp th:text="${order.orderNo}"></samp></span>
                                            </li>
                                            <li><span class="mr-2 font-weight-bold">주문상태</span> <span><samp
                                                    th:text="${order.orderProductStatus}"></samp>
                                                <form th:action="@{|/order/${order.orderNo}/cancel|}" method="post">
                                                    <input th:if="${#strings.equals(order.orderProductStatus, '배송준비중')}" type="hidden" name="cancelReason" value="주문취소"/>
                                                    <input th:unless="${#strings.equals(order.orderProductStatus, '배송준비중')}" type="hidden" name="cancelReason" value="반품"/>
                                                    <input type="hidden" name="cancelOrderProductNo" th:value="${order.orderProductNo}">
                                                    <input type="hidden" name="cancelAmount" th:value="${order.totalOrderAmount}">
                                                    <button th:if="${#strings.equals(order.orderProductStatus, '배송준비중')}"
                                                            style="margin-left: 5px; padding: 5px" type="submit" name="orderCancelBtn" class="site-btn">
                                                                    주문취소
                                                    </button>
                                                    <button th:if="${#strings.equals(order.orderProductStatus, '배송중')} or ${#strings.equals(order.orderProductStatus, '배송완료')}"
                                                            style="margin-left: 5px; padding: 5px" type="submit" name="orderCancelBtn" class="site-btn">
                                                                    반품
                                                    </button>
                                                </form>
                                            </span>
                                            </li>
                                            <li><span class="mr-2 font-weight-bold">배송번호 </span> <span><samp
                                                    th:text="${order.trackingNo}"></samp></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="pt-2 product__details__tab">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item ">
                                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                                   aria-selected="true">상품 정보/설명</a>
                                            </li>
                                        </ul>

                                        <div class="product__details__tab__desc row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <h6>상품정보 및 설명</h6>
                                                <p>이름 : <span
                                                        th:text="${order.productName}"></span>
                                                </p>
                                                <p>제조사 : <span
                                                        th:text="${order.manufacturer}"></span>
                                                </p>
                                                <p>제조국 : <span
                                                        th:text="${order.manufacturerCountry}"></span>
                                                </p>
                                                <p>판매자 : <span
                                                        th:text="${order.seller}"></span>
                                                </p>
                                                <p>수입자 : <span
                                                        th:text="${order.importer}"></span>
                                                </p>
                                                <p>품질보증 : <span
                                                        th:text="${order.qualityAssuranceStandard}"></span>
                                                </p>
                                                <p>색상 : <span th:text="${order.color}"></span>
                                                </p>
                                                <p>상품설명 : <span
                                                        th:text="${order.explanation}"></span>
                                                </p>

                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <h6>수령인 정보</h6>
                                                <p>배송지 : <span
                                                        th:text="${order.address}"></span>
                                                </p>
                                                <p>우편번호 :
                                                    <span th:text="${order.zipCode}"></span>
                                                </p>
                                                <p>수령인명 :
                                                    <span th:text="${order.receiptName}"></span>
                                                </p>
                                                <p>수령인 번호 :
                                                    <span th:text="${order.receiptPhoneNumber}"></span>
                                                </p>
                                                <p>수령인 예비번호 :
                                                    <span th:text="${order.receiptSubPhoneNumber}"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
