<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/shopping/layout}">
<head>
    <meta charset="UTF-8">
    <title>주문 내역 리스트</title>
    <style>
        .table {
            table-layout: fixed;
            width: 100%;
            text-align: center;
        }

        .table th {
            background: #ccc;
        }

        .table td, .table th {
            padding: 10px 20px;
            border-top: 1px solid #ccc;
            word-break: break-all
        }

        @media screen and (max-width: 768px) {

            /*horizontal*/
            .table--horizontal tr {
                position: relative;
            }

            .table--horizontal th {
                position: fixed;
                width: 32px;
            }
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row flex-md-nowrap">
            <div class="w-25">
                <th:block th:include="component/userDetailMenu"></th:block>
            </div>
            <div role="main" class="container h5">
    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length">
                </div>
            </div>
            <div class="row" style="overflow: hidden;
           position: relative;
           width: 100%;">
                <div class="col-sm-12">
                    <table class="table table-sm table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                           role="grid"
                           aria-describedby="dataTable_info" style="width: 100%;font-size: 10px;">
                        <thead>
                        <tr role="row">
                            <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                colspan="1"
                                aria-sort="ascending" aria-label="주문 번호">
                                주문 번호
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="이름">이름
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="총 금액">총 금액
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="주문 일자">주문 일자
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="수령인">수령인
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="수령인 번호">수령인 번호
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="배송 상태">배송 상태
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="운송장 번호 (배송 위치 정보 조회하기)">운송장 번호 (배송 위치 정보 조회하기)
                            </th>
                            <th class="sorting " tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                aria-label="상품평 작성">상품평 작성
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderProduct : ${orderProductList}">
                            <td>
                                <a th:href="@{'/member/order-product/' + ${orderProduct.orderProductNo} + '/details'}" th:text="${orderProduct.orderNo}"></a>
                            </td>
                            <td th:text="${orderProduct.productName}"></td>
                            <td th:text="${orderProduct.totalOrderAmount}"></td>
                            <td th:text="${orderProduct.orderDatetime}"></td>
                            <td th:text="${orderProduct.receiptName}"></td>
                            <td th:text="${orderProduct.receiptPhoneNumber}"></td>
                            <td th:text="${orderProduct.orderStatus}"></td>
                            <td>
                                <th:block th:if="${#strings.isEmpty(orderProduct.trackingNo)}">
                                    <span th:text="${orderProduct.trackingNo}"></span>
                                </th:block>
                                <th:block th:unless="${#strings.isEmpty(orderProduct.trackingNo)}">
                                    <a th:href="@{/orderProduct.trackingNo}"></a>
                                </th:block>
                            </td>
                            <td>
                                <a style="font-size: 10px" class="w-auto p-1 btn btn-sm btn-primary btn-lg " th:href="@{|/reviews/${orderProduct.orderProductNo}/add|}" th:unless="${orderProduct.existsReview}">
                                    작성
                                </a>
                                <p style="font-size: 10px" th:if="${orderProduct.existsReview}" class="">작성완료</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <th:block th:if="${!#lists.isEmpty(orderProductList)}">
                <th:block th:include="component/pageFooter"></th:block>
            </th:block>
        </div>
    </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content-js">
    <script src="/member/js/userDetailMenu.js"></script>
</th:block>
</html>
